AOUN/AOUN.xcworkspace/xcuserdata/reematurki.xcuserdatad/UserInterfaceState.xcuserstate
AOUN/.DS_Store
AOUN/AOUN/.DS_Store
.DS_Store
AOUN/AOUN.xcworkspace/xcuserdata/saraalthehaiban.xcuserdatad/UserInterfaceState.xcuserstate

