<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577991468212-47pkr1maiqlaucgbj3mgvij2257etpsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577991468212-47pkr1maiqlaucgbj3mgvij2257etpsl</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Yf96dLM9qSRIONz6Qh_U0cQ04X9pzvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>577991468212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Aoun.Aoun</string>
	<key>PROJECT_ID</key>
	<string>aoun-c7dd2</string>
	<key>STORAGE_BUCKET</key>
	<string>aoun-c7dd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577991468212:ios:034199fa1b0f922d5fe3e1</string>
	<key>DATABASE_URL</key>
	<string>https://aoun-c7dd2-default-rtdb.firebaseio.com</string>
</dict>
</plist>